.btn {
    border: 1px solid #cecece;
    border-radius: 3px;

    font-family: monospace;
}

.output {
    color: #bada55;
    display: block;
}

.container {
    margin: 0 auto;
    width: 200px;
}